[ec2]
regions = us-east-1
regions_exclude =
destination_variable = {{ origin_ci_aws_destination_variable }}
vpc_destination_variable = {{ origin_ci_aws_vpc_destination_variable }}

route53 = False

cache_path = {{ origin_ci_aws_cache_dir }}
cache_max_age = 300

instance_filters = tag:Name={{ origin_ci_aws_instance_name }}